[bumpversion]
current_version = 0.3.2
commit = True
tag = False
message = "Bump version to {new_version}"

[bumpversion:file:flask_json.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

